body{

background:#202124;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Arial;

margin:0;

}

.card{

background:white;

padding:40px;

border-radius:20px;

width:350px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.3);

}

h1{

margin-top:0;

}

input{

width:100%;

}

h2{

font-size:50px;

color:#1976D2;

}
